{{define "subject"}} Finish setting up your Gopher Social account {{end}}

{{define "body"}}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Finish setting up your Gopher Social account</title>
</head>
<body>
  <p>Hi there,</p>
  <p>You've been invited to join Gopher Social! Click the link below to finish setting up your account:</p>
  <p><a href="{{.ActivationURL}}">Finish setting up your account</a></p>
  <p>If you didn't request this invitation, you can safely ignore this email.</p>
  <p>Best regards,<br>Gopher Social Team</p>
</body>
</html>

{{end}}
